.single-drawing-box {
    border: 1px solid lightgray;
    position: relative;
    height: 100%;
}

.drawingContent {
    position: absolute;
    width: 100%;
    height: inherit;
}

.Buttons {
    z-index: 2;
    position: fixed;
    bottom: 0;
    left: 50%;
    margin-left: -100px;
}

#canvasImg {
    display: none;
}

.icon-bar {
    width: 90px; /* Set a specific width */
    background-color: #d4d4d4; /* Dark-grey background */
    z-index: 3;
    position: fixed;
    top: 25%;
}

.icon-bar span {
    display: block; /* Make the links appear below each other instead of side-by-side */
    text-align: center; /* Center-align text */
    padding: 16px; /* Add some padding */
    transition: all 0.3s ease; /* Add transition for hover effects */
    color: white; /* White text color */
    font-size: 36px; /* Increased font-size */
}

.nameForm {
    z-index: 2;
    position: fixed;
    left: 50%;
    margin-top: 3px;
    margin-left: -100px;
}

.nameForm input {
    margin-left: 5px;
}

.icon-bar span:hover {
    background-color: #2D6480; /* Add a hover color */
}

.delete {
    background-color: #d9534f; /* Add an active/current color */
}

