.single-drawing-box {
    border: 1px solid lightgray;
    position: relative;
    height: 100%;
    display: flex;
}

.drawingContent {
    position: absolute;
    width: 100%;
    height: 100%;
}

.Buttons {
    z-index: 2;
    position: fixed;
    bottom: 0;
    left: 50%;
    margin-left: -100px;
}

#canvasImg {
    display: none;
}

.icon-bar {
    width: 70px; /* Set a specific width */
    background-color: #d4d4d4; /* Dark-grey background */
    z-index: 3;
    position: fixed;
    align-self: center;
}

.icon-bar span {
    display: block;
    text-align: center;
    padding: 2px;
    transition: all 0.3s ease;
    color: white;
    font-size: 8pt;
}

.editButton {
    background-color: #378C32;
}

#editEdgeButton {
    display: none;
}

#editNodeButton {
    display: none;
}

#deleteButton {
    display: none;
}

.icon-bar i {
    margin: 9px;
    font-size: 30px; /* Increased font-size */
}

.nameForm {
    z-index: 2;
    position: fixed;
    margin-top: 3px;
    font-size: 43px;
}

.nameForm input {
    border: none;
}

input[type=file] {
    display: none;
}

.logo {
    position: fixed;
    right: 5px;
    width: 250px;
}

.separator {
    border-top: solid darkgray 2px;
}

.nameForm input {
    margin-left: 5px;
}

.icon-bar span:hover {
    background-color: #2D6480; /* Add a hover color */
    cursor: pointer;
}

.delete {
    background-color: #d9534f; /* Add an active/current color */
}

