
.btn {
    transition: all 0.4s ease-in-out;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}

.form-group {
    vertical-align: center;
    margin-bottom: 8px;
}

button {
    margin-right: 5px;
}

