/* ======= Základ ======= */
html,
body {
    min-height: 100%;
    font-family: 'Roboto', sans-serif;
}

body {
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#root {
    height: 100%;
}

button:focus,
select:focus {
    outline: none;
}

@media (min-width: 100px) {
    /* Sticky Footer */
    html,
    body {
        height: 100%;
    }

    body {
        font-size: 14px;
    }
}