#editEdgeDialog {
    display: none;
    position: absolute;
    bottom: 0;
    z-index: 299;
    width: 100%;
    height: 300px;
    background-color: #f9f9f9;
    border-style: solid;
    border-width: 2px;
    border-color: #E0E0E0;
    padding: 10px;
    text-align: left;
}

#editEdgeDialog .operationName {
    font-size: 18px;
}

#editEdgeDialog button {
    margin-right: 5px;
}

#editEdgeDialog .col-sm-4 {
    width: 100%;

}

.form-horizontal .control-label {
    padding-top: 7px;
    margin-bottom: 0;
    text-align: left;
}

.col-sm-7 {
    width: 100%;
}

#editEdgeDialog .form-group {
    vertical-align: center;
    margin-bottom: 8px;
}

.deviceInfos {
    flex-grow: 1;
}


.deviceConfigs {
    flex-grow: 1;
}

.configWrapper {
    width: 100%;
    overflow: hidden; /* add this to contain floated children */
    display: flex;
}

.deviceWrapper {
    display: flex;
    border: solid 2px #E0E0E0;
    padding-bottom: 10px;
    padding-top: 5px;
    margin-top: 10px;
}

.connectionNameWrapper {
    overflow: hidden;
}

#firstDevice {
    flex-grow: 1;
}

#secondDevice {
    flex-grow: 1;
}



